@inherits LayoutComponentBase

<div class="page bg-background-dark text-slate-100 min-h-screen">
    <Navbar />

    <main class="pt-16">
        @Body
    </main>

    <Footer />
</div>

<div id="blazor-error-ui" aria-hidden="true">
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">??</span>
</div>
